img {
  width: 250px;
}

.liked-button-1.green {
  background-color: green;
}

.liked-button-1.white {
  background-color: white;
}

.liked-button-2.green {
  background-color: green;
}

.liked-button-2.white {
  background-color: white;
}

.liked-button-3.green {
  background-color: green;
}

.liked-button-3.white {
  background-color: white;
}
